<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_app"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="fclPlugin_V2"
            android:resource="@string/config" />

        <meta-data
            android:name="title_enable_debug"
            android:resource="@string/title_enable_debug" />
        <meta-data
            android:name="title_emulate_dynamic_rendering_ext"
            android:resource="@string/title_emulate_dynamic_rendering_ext" />
        <meta-data
            android:name="title_emulate_dynamic_rendering_feat"
            android:resource="@string/title_emulate_dynamic_rendering_feat" />
        <meta-data
            android:name="title_emulate_push_descriptor_ext"
            android:resource="@string/title_emulate_push_descriptor_ext" />
        <meta-data
            android:name="title_emulate_fill_mode_non_solid_feat"
            android:resource="@string/title_emulate_fill_mode_non_solid_feat" />
        <meta-data
            android:name="title_emulate_draw_indirect_first_instance_feat"
            android:resource="@string/title_emulate_draw_indirect_first_instance_feat" />
        <meta-data
            android:name="title_optimize_barrier"
            android:resource="@string/title_optimize_barrier" />
        <meta-data
            android:name="title_disable_pipeline_cache"
            android:resource="@string/title_disable_pipeline_cache" />
        <meta-data
            android:name="title_emulate_divisor"
            android:resource="@string/title_emulate_divisor" />

        <!--    兼容旧版渲染器插件架构    -->
        <meta-data
            android:name="fclPlugin"
            android:value="true" />

        <meta-data
            android:name="des"
            android:value="${des}" />
        <meta-data
            android:name="renderer"
            android:value="${renderer}" />
        <meta-data
            android:name="boatEnv"
            android:value="${boatEnv}" />
        <meta-data
            android:name="pojavEnv"
            android:value="${pojavEnv}" />
        <meta-data
            android:name="minMCVer"
            android:value="${minMCVer}" />
        <meta-data
            android:name="maxMCVer"
            android:value="${maxMCVer}" />

    </application>

</manifest>